/* this css file will only style the homepage of our site */

.cat-photo {
  margin: 10px;
  max-width: 500px;
}

h1{
  font-family: Courier New;
  text-align: center;
}
h2{
  font-family: Courier New;
  text-align: center;
}

p{
  font-family: Courier New;
  text-align: center;
}

.Cinnamaroll {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

a {
  font-family: Courier New;
  color: #9d67f3;
}