/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  background-size:50px 50px; 
  margin-bottom: 10px;
  border-left: double #f39fb6;
  background-color: rgb(249, 223, 223);
  
}

#content{
   background-color: rgb(243, 231, 231);
   border: solid 5px rgb(91, 40, 40);
   text-align: left;
}

body{
  background-color: rgb(84, 60, 30);
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(195, 95, 111); 
  letter-spacing: -1px;
}

h2{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(77, 49, 14); 
  font-size: 20px;
}

p{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(137, 110, 77); 
  font-size: 17px;
  text-align:center; 
}



a {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(137, 110, 77); 
  font-size: 17px;
}


.special {
  background-color: rgb(0, 0, 0) !important;
  border: dotted 50px rgba(68, 0, 227, 0.479) !important;
  color: rgb(255, 255, 255) !important;
  font-size: 20px !important;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
}

.stripes {
  background-color: rgb(0, 0, 0) !important;
  border: double 50px rgba(68, 0, 227, 0.479); 
  color: rgb(230, 200, 200);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif!important;
}
