/* Here we can set styles for this lab page that we don't want to effect others pages */

/* the period in a CSS selector selects an element by class, e.g., class="minor-section" */
.minor-section {
  background-size:50px 50px; 
  margin-bottom: 10px;
  border-left: double #e3d5bf;
  background-color: rgb(249, 245, 223);
  
}

#content{
   background-color: rgb(242, 243, 231);
   border: solid 5px rgb(91, 40, 40);
   text-align: left;
}

body{
  background-color: rgb(84, 60, 30);
}

h1{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(92, 72, 75); 
  letter-spacing: -1px;
}

a {
  font-family: 'Times New Roman', Times, serif;
  color:rgb(137, 110, 77); 
  font-size: 17px;
}


h2{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(77, 49, 14); 
  font-size: 20px;
}

p{
  font-family: 'Times New Roman', Times, serif;
  color:rgb(137, 110, 77); 
  font-size: 17px;
  text-align:center; 
}
